<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row g-4 align-items-center">
          <div class="col-sm-auto">
            <div>
              <h4 class="card-title mb-0 flex-grow-1">Servicio {{servicio.nombre}} - Usuario - {{usuario.nombre }}
                <a class="btn btn-success btn-sm" (click)="open(content)"><i class="ri-add-line align-bottom me-1"></i>
                  Agregar
                </a>
              </h4>
            </div>
          </div>
          <div class="col-sm">
            <div class="d-flex justify-content-sm-end">
              <div class="search-box ms-2">
                <input type="text" class="form-control" id="searchResultList" placeholder="Buscar servicio"
                  [(ngModel)]="searchTerms">
                <i class="ri-search-line search-icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row" style="margin-bottom: 25px;">
          <!-- <div class="col-md-4 mb-3"> Fecha: {{formatDate(factura.fecha)}}</div>
          <div class="col-md-4 mb-3"> Monto: Bs.{{factura.monto}}</div>
          <div class="col-md-4 mb-3"> Servicio: {{factura.Servicio.nombre}}</div> -->
        </div>
        <div class="table-card">
          <div class="table-responsive ">
            <div id="Recommended-jobs">
              <table class="gridjs-table">
                <thead class="gridjs-thead">
                  <tr class="gridjs-tr">
                    <th class="gridjs-th gridjs-th-sort" data-sort="id">#</th>
                    <th class="gridjs-th sort" data-sort="nombre">Fecha</th>
                    <th class="gridjs-th sort" data-sort="asociado_con">Mes</th>
                    <th class="gridjs-th sort" data-sort="apellidos">Monto</th>
                    <th class="gridjs-th sort" data-sort="estado">Cantidad Medido</th>
                    <th class="gridjs-th sort" data-sort="estado">Detalle</th>
                    <!-- <th class="gridjs-th sort" data-sort="opciones">Opciones</th> -->
                  </tr>
                </thead>
                <tbody class="gridjs-tbody">
                  <tr class="gridjs-tr" *ngFor="let data of paginacion.data" id="o_{{data.id}}">
                    <td class="gridjs-td">
                      <ngb-highlight [result]="data.id.toString()"></ngb-highlight>
                    </td>
                    <td class="gridjs-td">
                      <ngb-highlight [result]="formatDate(data.fecha)"></ngb-highlight>
                    </td>
                    <td class="gridjs-td">
                      <ngb-highlight [result]="data.mes"></ngb-highlight>
                    </td>
                    <td class="gridjs-td">
                      <ngb-highlight [result]="data.monto.toString()"></ngb-highlight>
                    </td>
                    <td class="gridjs-td">
                      <ngb-highlight [result]="data.cantidad_medido.toString()"></ngb-highlight>
                    </td>

                    <td class="gridjs-td">
                      <ngb-highlight [result]="data.detalle"></ngb-highlight>
                    </td>
                    <!-- <td class="gridjs-td">
                      <div class="" >
                        <a type="button" class="btn btn-secondary btn-icon btn-sm waves-effect waves-light me-2"><i class="ri-coins-line"></i></a>
                      </div>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="gridjs-footer">
            <div class="row align-items-center gy-3">
              <div class="col-sm-auto ms-auto">
                <div class="text-sm-right float-end listjs-pagination">
                  <ngb-pagination
                    [collectionSize]="paginacion.total"
                    [(page)]="paginacion.currentPage"
                    [pageSize]="limit"
                    (pageChange)="onPageChange($event)"
                    >
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Medidor</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="mb-3 col-md-12">
          <div class=" col-md-6 col-lg-4 col-xl-3 m-auto" >
            <mat-card class="demo-inline-calendar-card">
              <mat-calendar [(selected)]="selected" ></mat-calendar>
            </mat-card>
          </div>
        </div>
        <div class="col-md-4" >
          <mat-form-field class="example-full-width">
            <mat-label>Cantidad medido</mat-label>
            <input type="number" matInput formControlName="cantidad_medido" placeholder="Ingrese el monto de cobro del servicio">
            <mat-error *ngIf="form.get('cantidad_medido')?.hasError('cantidad_medido') && !form.get('cantidad_medido')?.hasError('required')">
                El campo cantidad_medido esta incorrecto
            </mat-error>
            <mat-error *ngIf="form.get('cantidad_medido')?.hasError('cantidad_medido')">
              El campo cantidad_medido es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4" >
          <mat-form-field class="example-full-width">
            <mat-label>Monto</mat-label>
            <input type="number" matInput formControlName="monto" placeholder="Ingrese el monto de cobro del servicio">
            <mat-error *ngIf="form.get('monto')?.hasError('monto') && !form.get('monto')?.hasError('required')">
                El campo monto esta incorrecto
            </mat-error>
            <mat-error *ngIf="form.get('monto')?.hasError('required')">
              El campo Monto es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4" >
          <mat-form-field class="example-full-width">
            <mat-label>detalle</mat-label>
            <input type="text" matInput formControlName="detalle" placeholder="Ingrese el monto de cobro del servicio">
            <mat-error *ngIf="form.get('detalle')?.hasError('detalle') && !form.get('detalle')?.hasError('required')">
                El campo detalle esta incorrecto
            </mat-error>
            <mat-error *ngIf="form.get('detalle')?.hasError('required')">
              El campo detalle es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.dismiss('cancelar')">Cancelar</button>
    <button type="button" class="btn btn-outline-dark" (click)="submitForm()" >Guardar</button>
  </div>
</ng-template>
