<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ isCreating?"Agregar Suscripción":"Editar Suscripción" }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <div class="mb-3 col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="usuario" (selectionChange)="cambioUsuario($event)">
            <mat-option [value]="">Ninguno</mat-option>
            <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.nombre}}</mat-option>
          </mat-select>

        </mat-form-field>
      </div>
      <div class="mb-3 col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Servicio</mat-label>
          <mat-select formControlName="servicio" (selectionChange)="cambiarServicio($event)">
            <mat-option>Ninguno</mat-option>
            <mat-option *ngFor="let servicio of servicios" [value]="servicio.id">{{servicio.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mb-3 col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="tipo" (selectionChange)="cambiarTipo($event)">
            <mat-option value="fijo">Fijo</mat-option>
            <mat-option value="calcular">Calcular</mat-option>
            <mat-option value="medidor">Medidor</mat-option>
            <mat-option value="automatico">Generar deuda automatico</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6" *ngIf="form.get('tipo')?.value == 'fijo' || form.get('tipo')?.value == 'automatico'">
        <mat-form-field class="example-full-width">
          <mat-label>Monto</mat-label>
          <input type="number" matInput formControlName="monto" placeholder="Ingrese el monto de cobro del servicio">
          <mat-error *ngIf="form.get('monto')?.hasError('monto') && !form.get('monto')?.hasError('required')">
            El campo monto esta incorrecto
          </mat-error>
          <mat-error *ngIf="form.get('monto')?.hasError('required')">
            El campo Monto es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6" *ngIf="form.get('tipo')?.value == 'automatico'">
        <label for="">Seleccione una fecha</label>
        <input class="form-control flatpickr-input" type="text" matInput formControlName="fecha_deuda"  mwlFlatpickr [altInput]="true" [convertModelValue]="true">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="closeModal()">Cancelar</button>
  <button type="button" class="btn btn-outline-dark" (click)="saveUser()">Guardar</button>
</div>
