<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row g-4 align-items-center">
          <div class="col-sm-auto">
            <div>
              <h4 class="card-title mb-0 flex-grow-1">Usuarios
                <a class="btn btn-success btn-sm" (click)="open()"><i class="ri-add-line align-bottom me-1"></i>
                  Agregar</a>
              </h4>
            </div>
          </div>
          <div class="col-sm">
            <div class="d-flex justify-content-sm-end">
              <div class="search-box ms-2">
                <input type="text" class="form-control" id="searchResultList" placeholder="Buscar servicio"
                  [(ngModel)]="searchTerms">
                <i class="ri-search-line search-icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-card">
          <div class="table-responsive ">
            <div id="Recommended-jobs">
              <table class="gridjs-table">
                <thead class="gridjs-thead">
                  <tr class="gridjs-tr">
                    <th class="gridjs-th gridjs-th-sort" data-sort="id">#</th>
                    <th class="gridjs-th sort" data-sort="nombre">Nombre</th>
                    <th class="gridjs-th sort" data-sort="apellidos">Total debe</th>
                    <th class="gridjs-th sort" data-sort="estado">Estado</th>
                    <th class="gridjs-th sort" data-sort="asociado_con">Servicios</th>
                    <th class="gridjs-th sort" data-sort="opciones">Opciones</th>
                  </tr>
                </thead>
                <tbody class="gridjs-tbody">
                  <tr class="gridjs-tr" *ngFor="let data of paginacion.data" id="o_{{data.id}}">
                    <td class="gridjs-td">
                      <ngb-highlight [result]="data.id.toString()"></ngb-highlight>
                    </td>
                    <td class="gridjs-td">
                      <div class="">
                        {{data.nombre+' '+data.apellidos}}
                      </div>
                      <span class="badge bg-info-subtle text-info">
                        {{ data.cod_pais==""?"Sin numero":data.cod_pais+' '+data.telefono }}
                      </span>
                      <!-- <ngb-highlight [result]=""></ngb-highlight> -->
                    </td>
                    <td class="gridjs-td">
                      <ngb-highlight [result]="data.suma_montos.toString()"></ngb-highlight>
                    </td>
                    <td class="gridjs-td">
                      <ngb-highlight [result]=" getestado(data.estado) "
                        class="badge {{ data.estado==1?'bg-success-subtle text-success':'bg-danger-subtle text-danger' }}"></ngb-highlight>
                    </td>
                    <td class="gridjs-td">
                      <div [innerHTML]="serviciosAString(data.Servicios)"></div>
                    </td>
                    <td class="gridjs-td">
                      <a type="button" class="btn btn-info btn-icon btn-sm waves-effect waves-light"
                        (click)="verDetalle(data.id)"><i class="ri-article-line"></i></a>
                      <a type="button" class="btn btn-success btn-icon btn-sm waves-effect waves-light ms-1"
                        (click)="open(false,data)"><i class="ri-article-line"></i></a>
                      <a type="button" class="btn btn-danger btn-icon btn-sm waves-effect waves-light ms-1"
                        (click)="eliminarUsuario(data.id)"><i class="ri-delete-bin-5-line"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="gridjs-footer">
            <div class="row align-items-center gy-3">
              <!-- <div class="col-md-6">
                  <div class="mb-2 gridjs-summary" id="tickets-table_info" role="status"
                      aria-live="polite">
                      Showing
                      <b>{{paginacion.startIndex}}</b> to
                      <b>{{service.endIndex}}</b> of <b>{{service.totalRecords}}</b>
                      entries
                  </div>
              </div> -->
              <div class="col-sm-auto ms-auto">
                <div class="text-sm-right float-end listjs-pagination">
                  <ngb-pagination [(page)]="paginacion.currentPage" [pageSize]="limit"
                    [collectionSize]="paginacion.total" [maxSize]="5" i18n="false" (pageChange)="onPageChange($event)">
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
